     body {
        width: 80%;
        margin: auto;
        background-color: rgba(111, 167, 170, 0.979);
        padding: 20px;
      }
      ul {
        background-color: #264926;
        color: rgb(160, 161, 236);
        padding: 10px; 
      }
      p{
        color: rgb(35, 97, 43);
      }
      .white{
        color: rgb(6, 77, 10);
      }
      .italic{
        font-style: italic;
        color: rgb(117, 32, 6);
      }
      .main-content {
        width: 70%;
        float: left;
        padding: 10px;
      
     }
      .roboto {
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
      }
      .highlight{
      background-color: rgb(89, 64, 112);
    }
    .relativeDiv{
      position: relative;
      top: 20px;
      left: 30px;
    }
    .absoluteDiv {
      position: absolute;
      top:50px;
      left:100px;
    }
    .fixedDiv{
      position: fixed;
      top: 10px;
      left: 20px;
      z-index: 40;
    }
    .button{
      padding: 20px;
      margin-right: 10px;
      border: 5px dotted red;
    }
    .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5%;
      height: 300px;
      align-items: center;
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .menu-container {
      color: #fff;
      background-color: blue;
      padding: 20px 40px 100px 98px;
    }
    .menu {
      border: 1px solid #264926;
      width: 900px;
    }
    .links {
      gap: 10px;
      display: flex;
    }
    .photo-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
